/* ------- Colours */

/* ------- Body */

/* ------- Images */

/* -------- Heading/s */

/* -------- Special paddings/margins/text */

/* -------- Heading */

/* -------- Footer */

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}